body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: #626262;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper-sm {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.head-para {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.para {
  font-weight: normal;
  line-height: 30px;
  text-align: justify;
}

.heading-big {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.blog .single-blog, .blog-2 .single-blog {
  width: 45%;
  float: left;
  margin-bottom: 50px;
}

.load-btn .button-center a.button {
  padding: 20px 35px;
  color: #000;
  border: 2px solid #626262;
}

footer .footer-main .footer-left ul li, footer .footer-main .footer-right ul li {
  list-style-type: none;
  padding: 0 20px;
  display: inline-block;
  float: left;
}

footer .footer-main .footer-left ul li p, footer .footer-main .footer-right ul li p {
  font-weight: 600;
  color: black;
}

footer .footer-main .footer-left ul li p .fab, footer .footer-main .footer-right ul li p .fab {
  color: #626262;
}

header {
  margin: 25px 0;
}

header .brand {
  width: 15%;
  float: left;
  margin-top: 8px;
}

header .brand img {
  width: 100%;
}

header .main-menu {
  width: 70%;
  float: right;
}

header .main-menu ul {
  float: right;
}

header .main-menu ul li {
  list-style: none;
  float: left;
  padding: 0 50px;
}

header .main-menu ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #626262;
  text-transform: uppercase;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

header .main-menu ul li a:hover {
  border-bottom: 3px solid #626262;
}

header .main-menu ul li:last-child {
  padding-right: 0;
}

.banner .banner-image img {
  width: 100%;
}

.newsletter {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f0f0f0;
}

.newsletter .newletter-content h1 {
  font-size: 40px;
  text-align: center;
}

.newsletter .newletter-content form {
  margin-top: 50px;
}

.newsletter .newletter-content form .form-group {
  max-width: 380px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  position: relative;
  overflow: hidden;
}

.newsletter .newletter-content form .form-group input[type="email"] {
  float: left;
  margin-bottom: 8px;
  outline: none;
  border: none;
  font-family: "Playfair Display", serif !important;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
}

.newsletter .newletter-content form .form-group .send-btn {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.description {
  padding-top: 60px;
  padding-bottom: 60px;
}

.blog {
  padding-top: 60px;
  padding-bottom: 60px;
}

.blog .single-blog img {
  width: 100%;
}

.blog .single-blog:nth-child(odd) {
  padding-right: 10%;
}

.blog-2 {
  padding-top: 100px;
  padding-bottom: 60px;
}

.blog-2 .single-blog img {
  width: 100%;
}

.blog-2 .single-blog:nth-child(odd) {
  padding-right: 10%;
}

.load-btn {
  padding-top: 50px;
  padding-bottom: 150px;
}

.load-btn .button-center {
  text-align: center;
  padding: 50px;
}

.load-btn .button-center a.button {
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

.load-btn .button-center a.button:hover {
  background-color: black;
  color: white;
  border: none;
}

footer {
  background-color: #e2e2e2;
}

footer .footer-main {
  overflow: hidden;
}

footer .footer-main .footer-left {
  width: 50%;
  float: left;
}

footer .footer-main .footer-left ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  float: left;
}

footer .footer-main .footer-left ul li:first-child {
  padding-left: 0;
}

footer .footer-main .footer-right {
  width: 40%;
  float: right;
}

footer .footer-main .footer-right ul {
  float: right;
}

footer .footer-main .footer-right ul li:last-child {
  padding-right: 0;
}
