@import 'base'; 

// header start
header{
    margin: 25px 0; 

    .brand{
        width: 15%;
        float: left; 
        margin-top: 8px;

        img{
            width: 100%;
        }
    }
    .main-menu{
        width: 70%;
        float: right; 

        ul{
            float: right;
            li{
                list-style: none;
                float: left;
                padding: 0 50px;

                a{
                    text-decoration: none; 
                    font-size: 22px;
                    font-weight: 500;
                    color: $primary-color;
                    text-transform: uppercase;
                    transition: .4s ease;
                }

                a:hover{
                    border-bottom: 3px solid $primary-color;
                }
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
}

// banner section
.banner{
    .banner-image{
        img{
            width: 100%;
        }
    }
}

// newsletter section

.newsletter{
    @include padding(80px, 100px);
    background-color: $secondary-color; 

    .newletter-content{
        h1{
            font-size: 40px; 
            text-align: center;
        }
        form{ 
            margin-top: 50px;

            .form-group{ 
            max-width: 380px;
            margin: 0 auto;
            border-bottom: 1px solid black;
            position: relative;
            overflow: hidden;

                input[type="email"]{
                    float: left;                
                    margin-bottom: 8px;
                    outline:none;
                    border: none;
                    font-family: $font-stack !important;
                    font-size: 16px;
                    background-color: transparent; 
                    width: 100%;
                }
                .send-btn{
                    position: absolute;
                    right: 5px;
                    cursor: pointer;
                }
        
            }
        }
    }
}

.description{
    @include padding(60px, 60px);
}

.blog{
    @include padding(60px, 60px);
    .single-blog{
        @extend %single-blog;

        img{
            width: 100%;
        }
    }
    .single-blog:nth-child(odd){
        padding-right: 10%;
    }
}

.blog-2{
    @include padding(100px, 60px);
    .single-blog{
        @extend %single-blog;

        img{
            width: 100%;
        }
    }
    .single-blog:nth-child(odd){
        padding-right: 10%;
    } 

}

.load-btn{ 
    @include padding(50px, 150px); 
    .button-center{
        text-align: center;
        padding: 50px;

        a.button{ 
            font-size: 20px;
            @extend %button;
            transition: .4s;
        }
        a.button:hover{
            background-color: black;
            color: white;
            border: none;
        }
    }     
}

footer {
    background-color: lighten($primary-color, 50%);
    .footer-main{ 
        overflow: hidden;  

        .footer-left{
            width: 50%;
            float: left;
            ul{
               padding-inline-start: 0;
                @include float(left);
                @extend %li;
            }  
            ul li:first-child{
               padding-left: 0;
            }          

        }
        .footer-right{
            width: 40%;
            float: right;
            ul{
                @include float(right);
                @extend %li;
            }
            
            ul li:last-child{
               padding-right: 0;
            }
        }
    }
    
}